.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item {
  padding: 10px;
}

.botonL {
  display: block;
  border: 0;
  font-size: 16px;
  line-height: 1;
  padding: 6px 18px;
  border-radius: 30px;
  background-color: #ffffff;
  cursor: pointer;
  color: #efda21;
  border: solid 1px #efda21;
}

.botonR {
  display: block;
  border: 0;
  font-size: 16px;
  line-height: 1;
  padding: 6px 18px;
  border-radius: 30px;
  background-color: #efda21;
  cursor: pointer;
  color: #ffffff;
}

.Wrap {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 5vh;
  background-color: #282c34;
}

h2 {
  color: #efda21;
}

.nv {
  justify-content: center;
  display: flex;
  align-items: center;
}
