.body {
  background: rgb(36, 54, 92);
  border-radius: 10px;
  width: 260px;
  height: 190px;
  position: absolute;

  top: 200px;
  right: 0px;
}

.box {
  width: 1000px;
  height: 700px;
  border: 5xp solid black;
  margin: 20px auto;
}

/*width: 1000px;
  height: 700px;*/

.item {
  width: 280px;
  border-radius: 10px;
  height: 190px;
  background: rgb(36, 54, 92);
  position: relative;
  left: 80%;
  top: 60px;
}

.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
  padding: 10px;
}

.box .text {
  height: auto;
  width: auto;
  word-break: break-word;
  margin-left: 350px;
  margin-top: 120px;
  margin-right: 10px;
}

.container .parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(245, 229, 88);
  margin: 100px auto;
  width: 550px;
  padding: 50px;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  border-radius: 5%;
}

.item-Head {
  width: auto;
  height: auto;
  position: relative;
  left: 680px;
  top: 60px;
}

.wrapper {
  top: 0%;
  margin-top: 0px;
  background-color: rgba(243, 211, 142, 0.438);
  width: auto;
  height: auto;
}

.itemText {
  width: auto;

  height: auto;

  position: relative;
  left: 50%;
  top: 50%;
}

h3 {
  color: rgb(36, 31, 31);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 40px;
}
/*background: rgb(36, 54, 92);
*/
