.body {
  background: rgb(36, 54, 92);
  border-radius: 10px;
  width: 260px;
  height: 190px;
  position: absolute;

  top: 200px;
  right: 0px;
}

.box {
  width: 1000px;
  height: 700px;
  border: 5xp solid black;
  margin: 20px auto;
  background: brown;
}

/*width: 900px;
  height: 500px;*/

.item {
  width: 280px;
  border-radius: 10px;
  height: 190px;
  background: rgb(36, 54, 92);
  position: relative;
  left: 80%;
  top: 200px;
}

.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
  padding: 10px;
}

.container .parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(245, 229, 88);
  margin: 100px auto;
  width: 550px;
  padding: 50px;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  border-radius: 5%;
}

.item-Head {
  width: auto;
  height: auto;
  position: relative;
  left: 680px;
  top: 200px;
}

.itemText {
  width: auto;

  height: auto;

  position: relative;
  left: 50%;
  top: 50%;
}

/*background: rgb(36, 54, 92);
*/
